*.o
*Makefile.in
*Makefile
*~

ar-lib
config.h
config.h.in
configure.scan
stamp-h1
aclocal.m4
autom4te.cache/
compile
config.log
config.status
config.sub
config.guess
configure
depcomp
install-sh
missing
libtool
ltmain.sh
**/.deps/
**/.libs/
*.lo
*.la
*.dirstamp
.vscode/*
test-driver
*.cmd

ebpf/kernel/diglim_kern.lskel.h
ebpf/kernel/diglim_kern.skel.h
ebpf/kernel/vmlinux.h
ebpf/user/diglim_user
ebpf/user/diglim_log
ebpf/user/diglim_user_loader

generators/*_gen

kernel-mod/Module.symvers
kernel-mod/mod/Module.symvers
kernel-mod/mod/diglim_kern_preload.ko
kernel-mod/mod/diglim_kern_preload.mod
kernel-mod/mod/diglim_kern_preload.mod.c
kernel-mod/mod/modules.order
